<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.bugclaw.chromium-fuzzer-mac-seed-issue-corpus</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>-lc</string>
        <string>cd /Users/bugclaw/chromium-fuzzer-mac &amp;&amp; MEDIA_ISSUE_SEED_MAX_PER_RUN=2 ./scripts/seed_issue_corpus_media_queue.sh</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>StartCalendarInterval</key>
    <array>
        <dict>
            <key>Hour</key>
            <integer>8</integer>
            <key>Minute</key>
            <integer>30</integer>
        </dict>
        <dict>
            <key>Hour</key>
            <integer>20</integer>
            <key>Minute</key>
            <integer>30</integer>
        </dict>
    </array>
    <key>StandardOutPath</key>
    <string>/Users/bugclaw/.cache/chromium-fuzzer-mac-seeds/issue.launchd.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/bugclaw/.cache/chromium-fuzzer-mac-seeds/issue.launchd.log</string>
</dict>
</plist>
